
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Noto+Serif&display=swap');

/* Making text center and adding background image and adding a font */
.Who{
  text-align: center;
  background-color:#fff7ec;
  box-sizing: border-box;
  font-family: 'DM Serif Display', serif;
  /* height: 100vh; */
  max-width: 100%;
    
}
body{
  margin:0;
  padding:0;
  overflow-x:hidden;
}

@media screen and (min-with: 415px){
  .who{
    height: 100vh; 
   
  }
}

    /* Adding circle image on the three images of Luna, Maria and Caroline */
    .size{
      width: 100%; 
      clip-path: circle(); 
    }
    
    /* Making the grey filter on Luna image */ 
    .Luna-Berlin {
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
      overflow: hidden; 
    }

    /* Making grey filter on Luna Image and making it Circle form image */ 
    
    .Luna {
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
      overflow: hidden; 
      border-radius: 50%;
      width: 0%; 
      min-width: 400px;
    
    }
   
   /* Bold text for Span*/ 
    .text-bold{
      font-weight: bold; 
    }
    
 
    /* Making the Image cirle for Maria */ 

    .Maria{
     border-radius: 50%;
     width: 0%;
     min-width: 400px;
     position: static; 
     bottom: 10px; 
     overflow: hidden; 
     height: auto; 
     
     
    }
    
    /* Making the Image cirle for Caroline*/ 
    .Caroline{
      border-radius: 50%; 
      width: 25%;
      min-width: 400px;
    }


    .background-maria{
        width: 100%;
        /* height: 100vh; */
        background-color:#fff7ec;
  
    }

  .text-font{
     font-family: "Quicksand" , sans-serif; 
     font-weight: bold; 
     color: #FEE476; 
     font-size: 2em; 
  }
  
.theContainer{
 width: 100%; 
 min-height: 633px; 
 background-color:#97A090; 
 margin-top: 5%; 
 
}

.lunaLine {
  background-color: #000AFF; 
  width: 1087.5px;
  margin-top: 0%; 
  border: 2px solid #000AFF; 

}

.mariaLine{
  background-color: #000AFF; 
  width: 1087.5px;
  margin-top: 5%; 
  border: 2px solid #000AFF; 

}

hr.footerLine{
  background-color: white;  
  
}


  @media (max-width: 700px) {
    hr{
      display: none;
    }
  }

.lunaLine{
margin-top: 4.0%; 

}

#footerLine{
  background-color: white; 
}

a{
  color: black; 
  text-decoration: inherit; 
}

.icon:hover{
  color: #EE6C4D; 
}

p{
  font-family: "Arial"; 
}
@media (max-width: 1300px) and (min-width: 800px){
.mariaLine{
  margin-top: 10%; 
}

.lunaLine{
  margin-top: 10%; 
}
}