.App {

 
}


.buttonContact {
    background-color: #FEE476;
    box-shadow: 0px 2px 10px 0px #1e3019;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#526256;
	font-size: 1em;
	padding:0.5em 2.5em;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    border: none;
    position: relative;
    top: 90%;
    left: 15%;
}


